.container{
    width: 100%;
    height: 100vh;
    background-color: #44b451;
}
.header{
    width: 100%;
    height: 10%;
    background-color: #c13a3a;
}
.header h1{
    text-align: center;
    line-height: 10%;
}   